* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  align-items: center;
  display: flex;
  background: #3ec1c9;
  height: 100px;
  justify-content: space-around;
  padding: 0 30px;
}
.logo {
  

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
}
.logo img {
  width: 60px;
  margin: 0;
}
.logo p {
  color: aliceblue;
  font-size: 55px;
}
.logo p span {
  font-weight: 650;
  color: #004486;
}
nav {
  width: 70%;
}

nav ul {
  margin-left:120px ;
  display: flex;
  justify-content: space-around;
}

header nav li {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
}
header nav a {
  text-decoration: none;
  color: #000;
}

header nav li input {
  border-radius: 20px;
  width: 140px;
  padding: 5px;
  transition: 0.2s;
}
header nav li input::placeholder {
  text-align: center;
  font-weight: 500;
  
}
header nav li  {
 transition: 0.2s;
  
}
header nav li:nth-child(-n+3):hover {
  color: #fff;
  font-weight: 600;
 font-size: 25px;
}
header nav li input:hover{
  width: 160px;
}
