@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", "Segoe UI", Tahoma, sans-serif;
}
body a {
  color: black;
  text-decoration: none;
}
/*CABECERA*/

header {
  align-items: center;
  display: flex;
  background: #77c7c7;
  height: 70px;
  justify-content: space-around;
  padding: 0 30px;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
}
.logo img {
  width: 60px;
  margin: 0;
}
.logo p {
  color: aliceblue;
  font-size: 50px;
}
.logo p span {
  font-weight: 650;
  color: #004486;
}
nav {
  width: 70%;
}

nav ul {
  margin-left: 120px;
  display: flex;
  justify-content: space-between;
}

header nav li {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
}
header nav a {
  text-decoration: none;
  color: #000;
}

header nav li input {
  border-radius: 20px;
  width: 140px;
  padding: 5px;
  transition: 0.2s;
  border: 1px transparent;
}
header nav li input::placeholder {
  text-align: center;
  font-weight: 500;
}

header nav li:nth-child(-n + 3):hover {
  color: #fff;
  font-weight: 600;
}
header nav li input:hover {
  width: 160px;
}
/*HOMEPAGE*/
.titulo-centrado {
  text-align: center;
  margin: 40px 0;
}
h1.titulo-centrado {
  margin: 40px 0 10px 0;
  font-size: 72px;
  font-weight: 600;
}
h2.titulo-centrado {
  margin: 0px 0 40px 0;

  font-size: 36px;
  font-weight: 500;
}
.mapamundi-img {
  display: block;
  margin: auto;
  width: 100%;
}

.ofertas-container {
  display: flex;
  justify-content: center;
  margin: 0 20px 0 20px;
}
.ofertas-container h4 {
  text-align: center;
  margin: 15px 0;
}
.oferta {
  flex: 25%;
  max-width: 25%;
}
.ofertas-container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  padding: 0 30px;
}

.ofertas-container .btn-reservar {
  width: fit-content;
  background-color: #ffc700;
  padding: 13px 30px;

  border-radius: 25px;
  margin: 20px auto;
}

.opiniones-container {
  margin: 0 20px 0 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.opiniones-container .opinion {
  border-radius: 10px;
  background-color: #b4d9ae;
  width: 40%;

  max-height: 280px;
  margin: 10px 40px;
  padding: 10px;
}
.flex-foto-comentario img {
  width: 100px;
  height: 100px;
  object-fit: cover;

  border-radius: 10%;

  margin: 10px 20px 0 0;
}

.opiniones-container .nombre-opinion {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
.opiniones-container .comentario-opinion {
  font-style: italic;
}
.flex-foto-comentario {
  display: flex;

  align-items: center;
}

.preguntas-container {
  width: 70%;
  margin: 40px auto;
}
.preguntas-container details {
  background-color: lightgray;
  margin: 10px;
  overflow: hidden;
  margin: 10px auto;
  border-radius: 5px;
}
.preguntas-container summary {
  padding: 13px;
  padding-left: 26px;
}
.preguntas-container p {
  background-color: rgb(233, 233, 233);
  padding: 1rem;
  padding-bottom: 13px;
}

/* PRODUCTO */

.producto-titulo {
  margin: 40px 0 40px 20px;
}
.producto-titulo h1 {
  font-size: 48px;
}
.producto-titulo h2 {
  font-size: 24px;
  margin-top: 10px;
  font-weight: 500;
}
.producto {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.imagen-producto {
  float: left;
  margin-right: 100px;
}
.imagen-producto img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.descripcion-producto {
  color: white;
  background-color: #348383;
  width: fit-content;
  height: fit-content;
  padding: 40px;
}

.producto .descripcion-producto h2 {
  font-size: large;
  font-weight: 500;
  color: #ffc700;
}

/*FORMULARIO*/
.formulario-1 {
  width: 50%;
  max-width: 500px;
  margin: 20px auto;
}
.formulario-newsletter {
  width: 70%;
  margin: auto;
}

input,
select {
  border: 0cm;
  border-radius: 5px;
  padding: 5px;
  background-color: #bfdcde;
}

.formulario-newsletter .boton,
.formulario-1 .boton {
  background-color: #ffc700;
  padding: 13px 30px;
  border-radius: 25px;
  margin: 20px auto;
}
form,
form > div:nth-child(2),
form > div > div {
  display: flex;
  flex-direction: column;
}

form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

form > div > div {
  margin: 10px;
}
form > div > div > * {
  height: 30px;
}

/*FOOTER*/
footer {
  margin-top: 80px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: #77c7c7;
}
footer .columna-footer ul li {
  list-style-type: none;
  line-height: 1.5;
}
footer .columna-footer ul li a {
  text-decoration: none;
  color: black;
}

.footer-1 {
  display: flex;

  justify-content: space-evenly;
}
.footer-2 {
  display: flex;
  justify-content: space-between;
}
.footer-2 > * {
  display: flex;

  padding: 10px;
}
.footer-2 > li {
  font-size: 18px;
}


